* {
  font-family: "JetBrains Mono Nerd Font";
  min-height: 0;
}

window#waybar {
  background-color: transparent;
}

#clock {
  background-color: #1F1F28;
  color: #FFA066;
  border-radius: 20px;
  padding: 2px 12px;
  margin: 4px 5px;
  font-weight: bold;
}

#system {
  background-color: #1F1F28;
  border-radius: 20px;
  padding: 2px 12px;
  margin: 4px 0;
  font-weight: bold;
}

#cpu {
  color: #D27E99;
  margin-right: 5px;
}

#temperature {
  color: #957FB8;
  margin: 0 5px
}

#temperature.critical {
  color: #E82424;
}

#memory {
  color: #98BB6C;
  margin: 0 5px
}

#network {
  color: #7FB4CA;
  margin-left: 5px;
}

#arch-workspaces {
  background-color: #1F1F28;
  border-radius: 20px;
  padding: 2px 12px;
  margin: 4px 0;
  font-weight: bold;
}

#custom-arch {
  color: #54546D;
  font-size: 18px;
  margin-right: 6px;
  margin-left: 5px;
}

#custom-arch:hover {
  color: #2A2A37;
}

#workspaces button {
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  outline: none;
  color: #DCD7BA;
}

#workspaces button:hover {
  transition-property: color;
  transition-duration: 0.5s;
  color: #54546D;
}

#workspaces button.active {
  color: #54546D;
}

#tray {
  background-color: #1F1F28;
  border-radius: 20px;
  padding: 2px 12px;
  margin: 4px 5px;
}

#media {
  background-color: #1F1F28;
  border-radius: 20px;
  padding: 2px 12px;
  margin: 4px 0;
  font-weight: bold;
}

#custom-weather {
  color: #E6C384;
  margin-right: 7px;
}

#pulseaudio {
  color: #957FB8;
  margin: 0 7px;
}

#mpris {
  color: #2B3328;
  margin-left: 5px;
  transition-property: color;
  transition-duration: 0.5s;
}

#mpris.playing {
  color: #98BB6C;
  border-radius: 20px;
  transition-property: color;
  transition-duration: 0.5s;
}

#custom-power {
  background-color: #1F1F28;
  color: #E82424;
  border-radius: 20px;
  padding: 2px 12px;
  margin: 4px 5px;
  font-weight: bold;
}
