* {
  font-family: "JetBrains Mono Nerd Font";
  min-height: 0;
}

window#waybar {
  background-color: transparent;
}

#clock {
  background-color: #1f1f28;
  color: #ffa066;
  border-radius: 20px;
  padding: 2px 12px;
  margin: 4px 5px;
  font-weight: bold;
}

#system {
  background-color: #1f1f28;
  border-radius: 20px;
  padding: 2px 12px;
  margin: 4px 0;
  font-weight: bold;
}

#cpu {
  color: #d27e99;
  margin-right: 5px;
}

#temperature {
  color: #957fb8;
  margin: 0 5px;
}

#temperature.warning {
  color: #e6c384;
}

#temperature.critical {
  color: #e82424;
}

#memory {
  color: #98bb6c;
  margin: 0 5px;
}

#battery {
  color: #7fb4ca;
  margin-left: 5px;
}

#battery.warning {
  color: #e6c384;
}

#battery.critical {
  color: #e82424;
}

#arch-workspaces {
  background-color: #1f1f28;
  border-radius: 20px;
  padding: 2px 12px;
  margin: 4px 0;
  font-weight: bold;
}

#custom-arch {
  color: #54546d;
  font-size: 18px;
  margin-right: 6px;
  margin-left: 5px;
}

#custom-arch:hover {
  color: #2a2a37;
}

#workspaces button {
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  outline: none;
  color: #dcd7ba;
}

#workspaces button:hover {
  transition-property: color;
  transition-duration: 0.5s;
  color: #54546d;
}

#workspaces button.active {
  color: #54546d;
}

#tray {
  background-color: #1f1f28;
  border-radius: 20px;
  padding: 2px 12px;
  margin: 4px 5px;
}

#media {
  background-color: #1f1f28;
  border-radius: 20px;
  padding: 2px 12px;
  margin: 4px 0;
  font-weight: bold;
}

#custom-weather {
  color: #e6c384;
  margin-right: 7px;
}

#pulseaudio {
  color: #957fb8;
  margin: 0 7px;
}

#mpris {
  color: #2b3328;
  margin-left: 5px;
  transition-property: color;
  transition-duration: 0.5s;
}

#mpris.playing {
  color: #98bb6c;
  border-radius: 20px;
  transition-property: color;
  transition-duration: 0.5s;
}

#custom-swaync {
  background-color: #1f1f28;
  color: #7fb4ca;
  border-radius: 20px;
  padding: 2px 12px;
  margin: 4px 5px;
  font-weight: bold;
}

#custom-power {
  background-color: #1f1f28;
  color: #e82424;
  border-radius: 20px;
  padding: 2px 12px;
  margin: 4px 5px;
  font-size: 16px;
  font-weight: bold;
}
