* {
  font-family: "JetBrainsMono Nerd Font", FontAwesome, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#clock,
#cpu,
#memory,
#network,
#workspaces,
#tray,
#pulseaudio,
#custom-spotify,
#custom-power,
#custom-quit,
#custom-lock,
#custom-reboot {
  padding: 2px 12px;
  margin: 4px 5px;
  border-radius: 20px;
  background-color: #1F1F28;
}

#clock {
  color: #FFA066;
  margin-right: 20px;
}

#cpu {
  color: #D27E99;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

#memory {
  color: #98BB6C;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}

#network {
  color: #7E9CD8;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

#workspaces {
  color: #DCD7BA;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 20px;
}

#workspaces button {
  color: #DCD7BA;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
}

#workspaces button:hover {
  color: #54546D;
}

#workspaces button.active {
  color: #54546D;
}

#tray {
  margin-left: 20px;
}

#pulseaudio {
  color: #957FB8;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

#pulseaudio.microphone {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}

#custom-spotify {
  color: #98BB6C;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  margin-right: 20px;
}

#custom-spotify.playing {
  background-color: #98BB6C;
  color: #DCD7BA;
  transition-property: background-color;
  transition-duration: 0.5s;

}

#group-group-power {
  margin-right: 5px;
}

#custom-power {
  color: #C34043;
  margin-right: 10px;
}

#custom-quit, #custom-lock, #custom-reboot {
  color: #DCD7BA;
}

#custom-quit:hover, #custom-lock:hover, #custom-reboot:hover {
  background-color: #54546D;
}
